<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UnicornHuntr</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% block css %}
    <link href="{{ url_for('static', filename='css/hello.css') }}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{ url_for('hello') }}">Home</a></li>
            <li role="presentation"><a href="#">Slides</a></li>
            <li role="presentation"><a href="#">GitHub</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="{{ url_for('hello') }}">UnicornHuntr</a></h3>
      </div>

      <div class="jumbotron">
        <h1>UnicornHuntr</h1>
        <p class="lead">Predict the success of early-stage startups</p>
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Industry <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('result', industry='mobile') }}">Mobile</a></li>
            <li><a href="{{ url_for('result', industry='ecommerce') }}">E-commerce</a></li>
            <li><a href="{{ url_for('result', industry='social') }}">Social Networking</a></li>
          </ul>
        </div>
      </div>

      {% block result %}
      {% endblock %}

      {% block pagination %}
      {% endblock %}

      {% block footer %}
      {% endblock %}

    </div> <!-- /container -->

    {% block js %}
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}

  </body>
</html>
